.privatemsg-message {
  text-align  : left;
}
.privatemsg-author-column {
  float       : left;
  width       : 250px;
}
.privatemsg-message-column{
  float       : left;
  width       : 300px;
}
.privatemsg-author-column-left {
  float       : left;
  width       : 100px;
}
.privatemsg-author-column-right {
  float       : left;
  width       : 150px;
  text-align  : right;
}
.privatemsg-message .privatemsg-author-avatar {
  margin      : 5px;
  text-align  : center;
}
.privatemsg-message .picture {
 float    : none; 
 padding  : 0 0 0 0;
}
.privatemsg-author-name {
  margin      : 5px 15px 0px 0px;
  font-size   : 11px;
  font-weight : bold;
} 
.privatemsg-message-date {
  color         : #777777;
  font-size     : 9px;
  margin        : 0px 15px 0pt 0pt;
} 
.clear-both {
  clear       : both;
}
.privatemsg-bottom-border {
  border-bottom: 1px solid #C5C5C5;
  margin       : 0 0 10px 250px;
}
.privatemsg-message-body {
  padding     : 0px;
  margin      : 0 0 0 5px;
  overflow    : auto;
}

.privatemsg-message-actions li {
  list-style-type:none;
  float:left;
  padding:5px;
  background-image:none;
  list-style-image: none;
}

.privatemsg-view-pager {
  margin: 20px 0 20px 200px;
  padding-left: 10px;
  width: 300px;
}

p.privatemsg-token-notice {
  font-size: small;
  font-style: italic;
}

span.privatemsg-token-invalid {
  color: red;
}

span.privatemsg-token-valid {
  font-weight: bold;
}